.rand {  border: 1px #84AADE solid; background-color: #FFFFFF}
.menuebar {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; border-color: black black #FFFFFF; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}

.smalltext {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px}
.menuebuttonover {  background-color: #07B9E0; text-indent: 2pt}
.menuebutton {  text-indent: 2pt; background-color: #84AADE}

.footer-info {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #07B9E0}
.courier {  font-family: Courier New, Arial, Helvetica, sans-serif; font-size: 10pt}
.normalb {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; font-weight:bold}
.normal {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt}
.klein {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt}
.menue-topic {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt}